
  @import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&display=swap');
 

*{
    margin: 0;
    padding: 0;
     box-sizing: border-box ;
     font-family:'popins',sans-serif
}
body{
    background-color:rgb(123, 185, 240);
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    position: relative;
    font-size: 25px;
    color: beige;
    text-decoration: none;
    font-weight: 500;
  
}
.navbar a {
    display: inline-block;
    font-size: 23px;
    color: aqua;
    text-decoration: none;
    font-weight: 5;
    margin-left: 35px;
    transition: 0.3s;

}
.navbar a:hover{
    color: darkgrey;

}
.home{
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* background:1688202531565.jpg no-repeat  ;  */
    display: flex;
    align-items: center;
    padding: 70px 10% 0;

}
.myimg{
    height: "100";
    border-radius: 46%;
    object-fit: contain;
    transition: all 0.3s ease-in-out;
    width: 36%;
    overflow: hidden;
    box-shadow: 20px 20px 50px rgb(1, 17, 31);
 
}
.homecontent{
    max-width: 600px;
}
.homecontent h3{
    font-size: 32px;
    font-weight: 500;
}
.homecontent h1{
    font-weight: 900;
    font-family:initial;
    margin: 2px;
    font-size: 32px;
}
.socialmedia a{
    display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 28px;
   height: 20px;
   background: transparent;
   border: 1px solid;
   border-radius: 50%;
   margin: 30px 15px 30px 0;
   font-weight: 200;
}
.socialmedia a:hover
{
    background: #014f56;
    color: rgb(23, 22, 20);
    box-shadow: #031b1e;
}

.Aboutme{
    align-items: center;
    justify-content: center;
    font-size: 70px;
    padding-left: 13%;

    
}
.full{
    margin-left: 50px;
    margin-top: 29px;
    align-content: center;
    padding-left: 9%;
}
.Skills{
    margin-top: 10%;
    align-items: center;
    background-color:rgb(23, 20, 20);
    color: aliceblue;
    padding-left:16% ;
    font-size: larger;

}
.sktag{
    font-size: 60px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    align-items: center;
    padding-left: 3%;
}
#contact {
    background-color: #e7e7e7;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  form {
    margin: 0 auto;
  }

  label,
  input,
  textarea {
    display: inline-block;
    margin-bottom: 10px;
  }

  input[type="submit"] {
    background-color: #333;
    color: #0e0d0d;
    /* padding: 10px 20px; */
    border: none;
    cursor: pointer;
  }

  input[type="submit"]:hover {
    background-color: #555;
  }
    

